:root{
    --titulo-principal:#f3077d;
    --cor-do-texto:#9c1247;
    --cor-de-fundo:#700841;
    --cor-do-botao:#ec5d88;
}
body{
    background-color:var(--cor-de-fundo);
}
 h1  
    *{
    color:var(--titulo-principal);
}
*{
    margin:0;
    padding: 0;
}
.principal{
    background-image: url();
    background-repeat: no-repeat;
    background-size:contain;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container_botao{
    background-color: var(--cor-do-botao);
    border-radius: 5px;
    padding: 1em;
    color:var(--cor-do-texto);
    display: inline-block;
    text-decoration: none;
    margin-bottom: 1em;
    
}
.botao_secundario{
    background-color: aqua;
    border: 2px solid violet;
}
.container_imagem{
    margin: 1em 0 2em 0;
}